<div class="container">

    <form (ngSubmit)="Login()" [formGroup]="loginForm">
        <div class="info">
            <h2>Login Form</h2>

        </div>
        <div class="info">
            <label htmlFor="username">
                Username
            </label>
            <input type="text" name="username" formControlName="username" class="form-control">
            <div *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                Please enter username
            </div>
        </div>


        <div class="info">
            <label htmlFor="password">
                Password
            </label>
            <input type="password" name="password" formControlName="password" class="form-control">
            <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                Please enter password
            </div>
        </div>

        <div class="info">
            <input type="submit" value="Login" class=" login button" [disabled]="!loginForm.valid">
            <input type="submit" value="Sign Up" class=" signup button ml-10" [routerLink]="['/signup']">
        </div>
    </form>
</div>