.card{
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
        width: 30px;
    }
}

.list{
    background-color: #00BCD4;
    padding:10px;

    .no-movie{
        justify-content: center;
    }
}