
.card{
     margin: 10px;
    padding: 10px;
    background-color: var(--card-background);
    color:var(--text-color);

    .card-content{
        display: flex;
        justify-content: space-between;
        .detail-image{
            display: flex;

            img{
                max-height: 30vh;
                max-width: 14vw;
            }
        }
    }

    .card-actions{
         img{
        height: 20px;
        width: 20px;
        cursor: pointer;
        }
        span{
        cursor: pointer;
        }
            align-items: center;
    display: flex;
    }
}




.list{
    background-color: var( --list-background);
    padding:10px;
    height: calc(100vh - 164px);
    overflow-y: scroll;
    min-height: 350px;
    .no-movie{
        justify-content: center;
    }
}