.list{
    background-color: var( --list-background);
    padding:10px;
    height: calc(100vh - 164px);
    overflow-y: scroll;
    min-height: 350px;
    .no-movie{
        justify-content: center;
    }
}

