.card{
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.list{
    background-color: #00BCD4;
    padding:10px;
    height: calc(100vh - 115px);
    overflow-y: scroll;

    .no-movie{
        justify-content: center;
    }
}