<div *ngIf="false">
    Is User Logged in ..? {{isLoggedIn }}
</div>

<div>
    <ng-container *ngIf="isLoggedIn; else elseTemplate">
        <button class="logout button" (click)="Logout()">
            Logout
        </button>
    </ng-container>
    <ng-template #elseTemplate>
        <button class="login button" routerLink="/login">
            Login
        </button>
    </ng-template>

    <button routerLink="/addmovie" class="button addMovie"
        [ngStyle]="{'visibility': isLoggedIn ? 'visible' : 'hidden' }">
        Add Movie
    </button>

    <nav>
        <!-- <fa-icon [icon]="faLightbulb" (click)="toggleTheme()"></fa-icon> -->
        <div (click)="toggleTheme()">
            Change theme
        </div>
    </nav>
</div>