<div *ngIf="false">
    Is User Logged in ..? {{isLoggedIn }}
</div>

<div>
    <ng-container *ngIf="isLoggedIn; else elseTemplate">
        <button class="logout button" (click)="Logout()">
            Logout
        </button>
    </ng-container>
    <ng-template #elseTemplate>
        <button class="login button" routerLink="/login">
            Login
        </button>
    </ng-template>

    <button routerLink="/addmovie" class="button addMovie"
        [ngStyle]="{'visibility': isLoggedIn ? 'visible' : 'hidden' }">
        Add Movie
    </button>

    <!-- <nav>
        <fa-icon [icon]="faLightbulb" (click)="toggleTheme()"></fa-icon>
    </nav> -->

    <button (click)="toggleTheme()" class="button theme ml-10">
        <ng-container *ngIf="this.themeService.isDarkTheme(); else darkTemplate">
            Switch to Light Theme
        </ng-container>
        <ng-template #darkTemplate>
            Switch to Dark Theme
        </ng-template>
    </button>



</div>