<div>
    <div class="info movie-name">
        {{this.movie.name}}
    </div>

    <div class="info movie-genre">
        {{this.movie.genre}}
    </div>

    <div class="info movie-rating">
        <!-- <fa-icon [icon]="faStar" class="star"></fa-icon> {{movie.rating}} -->
        <span><img src="assets/image/star.svg" /></span>

        <span> {{movie.rating}} </span>
    </div>

    <div class="info movie-cast">
        <movie-cast>
            Cast
            <li slot="name" *ngFor="let member of movie.cast">{{member}}</li>
        </movie-cast>
    </div>

</div>