<div class="container">
    <h2>Add Movie details</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="info">
            <label htmlFor="name">
                Name
            </label>
            <input type="text" name="name" id="" [(ngModel)]="Movie.name" required>
        </div>


        <div class="info">
            <label htmlFor="genre">
                Genre
            </label>
            <input type="text" name="genre" id="" [(ngModel)]="Movie.genre" required>
        </div>

        <div class="info">
            <label htmlFor="rating">
                Rating
            </label>
            <input type="text" name="rating" id="" [(ngModel)]="Movie.rating" required>
        </div>

        <input type="submit" value="Add Movie" class="button addMovie">
    </form>
</div>