<div class="container">
    <form (ngSubmit)="SignUp()" [formGroup]="signupForm">
        <div class="info">
            <h2>Sign Up Form</h2>
        </div>
        <div class="info ">
            <label htmlFor="username">
                Username
            </label>
            <input type="text" name="username" class="form-control" formControlName="username">
            <div *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                Please enter username
            </div>
        </div>


        <div class="info">
            <label htmlFor="password">
                Password
            </label>
            <input type="password" name="password" class="form-control" formControlName="password">
            <div *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                Please enter password
            </div>
        </div>

        <div class="info">
            <label htmlFor="password">
                Confirm Password
            </label>
            <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
            <div *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched">
                Passwords enter password again
            </div>
            <div *ngIf="signupForm.errors?.mismatch && signupForm.get('confirmPassword').touched">
                Passwords do not match
            </div>
        </div>

        <div class="info">
            <input type="submit" value="Sign Up" class="signup button" [disabled]="!signupForm.valid">
        </div>
    </form>
</div>