<div class="container">


    <form (ngSubmit)="SignUp()">
        <div class="info">
            <h2>Sign Up Form</h2>
        </div>
        <div class="info">
            <label htmlFor="username">
                Username
            </label>
            <input type="text" name="username" id="" [(ngModel)]="User.username" required>
        </div>


        <div class="info">
            <label htmlFor="password">
                Password
            </label>
            <input type="text" name="password" id="" required [(ngModel)]="User.password">
        </div>

        <div class="info">
            <input type="submit" value="Sign Up" class="signup button">
        </div>
    </form>
</div>