<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="info">
            <h2>Update Movie details</h2>
        </div>
        <div class="info">
            <label htmlFor="name">
                Name
            </label>
            <input type="text" name="name" id="" [(ngModel)]="Movie.name" required>
        </div>
        <div class="info">
            <label htmlFor="genre">
                Genre
            </label>
            <input type="text" name="genre" id="" [(ngModel)]="Movie.genre" required>
        </div>

        <div class="info">
            <label htmlFor="rating">
                Rating
            </label>
            <input type="text" name="rating" id="" [(ngModel)]="Movie.rating" required>
        </div>

        <div class="info">
            <label htmlFor="cast">
                Cast
            </label>
            <input type="text" name="cast" id="" [(ngModel)]="joinedCast" required>
        </div>
        <div class="info">
            <input type="submit" value="Update Movie" class="button updateMovie">

        </div>
    </form>
</div>