/* You can add global styles to this file, and also import other style files */

$dark: #212121;
$input-border-radius: 4px;
$input-border-width: .063rem;
$input-border-color: #b0bec5;
$input-padding: .75rem .875rem;
$input-submit-bg: #007BFF;
$input-submit-bg-hover: lighten($input-submit-bg, 5%);
$input-submit-padding: .75rem 1.5rem;
$body-bg: #eceff1;


// themes
:root {
  // mystyles
--primary-dark: #24b286;
  --error-default: #ef3e36;
  --text-color:black;
  --body-background: "#FFFFFF";
  --signup:#3277B3;
  --list-background:#E2E4E9;
  --card-background:#FFFFFF;
  --theme:#3277B3;

}

.button{
    padding:10px;
    color: white;
    border:1px solid;
    cursor:pointer;
    margin:10px 0px;
    &.updateMovie{
        background:#17A2B8;
    }
    
    &.login,&.addMovie{
       background:var(--primary-dark);
    }
    &.logout{
        background:var(--error-default);
    }
    &.signup{
        background:var(--signup);
    }
    
}
.ml-10{
  margin-left: 10px;
}
.info{
    margin:10px;
    line-height: 2.2;
}

.container{
    width: 60vw;
    margin: 0 auto;

    h2,label,div{
      color:var(--text-color);
    }
}

form{
  margin: 0 2rem 1rem;
  
  label {
    display: block;
    margin: 0 0 .5rem;
    font-weight: 700;
    letter-spacing: .2px;
    font-size: .875rem;
    color: $dark;
    
    &.inline {
      display: inline-block;
      width: 100px;
    }
    
    &.inline.right {
      text-align: right;
      padding-right: .5rem;
    }
  }
}

input {
  padding: $input-padding;
  border-radius: $input-border-radius;
  outline: 0;
  color: $dark;
  font-size: .875rem;
  width: 100%;
  border: $input-border-width solid $input-border-color;
}

input:disabled{
  opacity: 0.6;
}

input[type="submit"] ,.button{
  padding: $input-submit-padding;
  // margin: .5rem 0 0;
  outline: 0;
  border: 0;
  // background: $input-submit-bg;
  border-radius: $input-border-radius;
  color: #FFF;
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: .25px;
  transition: background .3s ease;
   width: auto;

}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background: var(--body-background);
}

@media only screen and (max-width: 600px) {
  .container {
    width:88vw;
  }
}